.SeaBattle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: stretch;
	align-self: stretch;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch; /* https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/ */

	&::-webkit-scrollbar {
		width: 0.25rem;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		transition: background-color 300ms ease-in-out; /* not supported by scrollbar */
		background-color: rgb(
			0,
			0,
			0
		); /* color will be overriden in Room.scss */
	}

	.SeaBattlePlayer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-grow: 1;
		flex-shrink: 0;

		.SeaBattleControls {
			display: flex;
			align-self: center;
			flex-direction: row;
			justify-content: space-around;
			padding: 15px 0 5px 0;
			width: 200px;
		}

		.SeaBattleMap {
			border: 10px solid #fff;

			height: calc(100vh - 130px);
			width: calc(100vh - 130px);

			@media screen and (max-width: 500px) {
				& {
					height: 90vw;
					width: 90vw;
				}
			}

			.SeaBattleBoat {
				fill: #000;

				&.clickable {
					cursor: pointer;
				}

				&.ko {
					fill: #e52524;
				}

				&.selected,
				&.ok:hover {
					fill: #777;
				}
			}

			.SeaBattleHit,
			.SeaBattleWeapon {
				pointer-events: none;
			}
		}
	}
}
