.SeaBattle {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	min-height: 100vh;
	padding: 0 50px;

	.SeaBattleControls {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 20px 0;
	}

	.SeaBattleBoat {
		fill: #000;

		&.clickable {
			cursor: pointer;
		}

		&.ko {
			fill: #e52524;
		}

		&.selected,
		&.ok:hover {
			fill: #777;
		}
	}

	.SeaBattleHit {
		pointer-events: none;
	}

	.SeaBattleWeapon {
		pointer-events: none;
	}
}
