.ModalOverlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: background-color 300ms, opacity 300ms;

	&.enter {
		background-color: transparent;
		opacity: 0;
	}
	&.enter-active {
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 1;
	}
	&.enter-done {
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 1;
	}
	&.exit {
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 1;
	}
	&.exit-active {
		background-color: transparent;
		opacity: 0;
	}

	.ModalWrapper {
		color: #000;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		max-height: 80%;

		width: 400px;
		min-width: 400px;
		max-width: 400px;

		@media screen and (max-width: 500px) {
			& {
				width: 90%;
				min-width: auto;
				max-width: none;
			}
		}

		.Modal {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			overflow: hidden;

			.ModalHead {
				background-color: rgb(240, 240, 240);
				border-bottom: 1px solid rgb(220, 220, 220);
				position: relative;
				display: flex;
				flex-direction: row;
				flex-shrink: 0;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: center;
				padding: 0.5rem 0.75rem;
				border-top-left-radius: 0.25rem;
				border-top-right-radius: 0.25rem;

				.ModalTitle {
					text-align: center;
					flex-grow: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					padding: 0 0.5rem;
				}

				.ModalHeadBack,
				.ModalHeadClose {
					padding: 0;
					border-radius: 0;
					background-color: transparent !important;

					&.hidden {
						visibility: hidden;
					}
				}
			}

			.ModalBody {
				background-color: #fff;
				display: flex;
				flex-direction: column;
				flex-shrink: 1;
				justify-content: flex-start;
				overflow-y: scroll;
				padding: 0.5rem;

				.ModalField {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;

					label {
						font-weight: bold;
					}

					.XXX {
						display: flex;
						flex-direction: column;
						flex-shrink: 0;
						padding: 0.25rem 0;
					}

					.ModalInput {
						background-color: #eee;
					}

					input::-webkit-contacts-auto-fill-button {
						color: #f00;
						visibility: hidden;
						display: none !important;
					}

					input[type="date"].ModalInput,
					input[type="password"].ModalInput,
					input[type="text"].ModalInput,
					input[type="time"].ModalInput,
					select.ModalInput {
						height: 30px;
						padding: 0 0.5rem;
						border-radius: 0.25rem;
					}

					input:read-only {
						font-style: italic;
						color: #333;
					}
				}

				&::-webkit-scrollbar {
					width: 0.25rem;
				}

				&::-webkit-scrollbar-track {
					background-color: #ddd;
				}

				&::-webkit-scrollbar-thumb {
					background: #777;
				}

				.ListModalItem {
					padding: 0.5rem 0;
					cursor: pointer;
					transition: background-color 300ms ease-in-out;
					display: flex;
					flex-direction: row;
					flex-shrink: 0;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: center;
					outline: none;

					.ModalListItemText {
						flex-grow: 1;
						text-align: left;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.ModalListItemIcon {
						padding: 0 1rem;
					}

					.ModalListItemImage {
						width: 20px;
						height: 20px;
						padding: 0 1rem;
					}

					.ModalListItemNext {
						opacity: 0.2;
						transition: opacity 300ms ease-in-out;
						padding: 0 1rem;
					}

					&:hover .ModalListItemNext {
						opacity: 1;
					}
				}
			}

			.ModalFoot {
				background-color: rgb(240, 240, 240);
				border-top: 1px solid rgb(220, 220, 220);
				display: flex;
				align-self: stretch;
				flex-direction: row;
				flex-shrink: 0;
				flex-wrap: nowrap;
				justify-content: center;
				min-height: 1rem;
				padding: 0.25rem;
				border-bottom-left-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;

				.IconButton {
					margin-left: 1rem;
					padding: 0.5rem;
					border-radius: 0.25rem;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
}
