.Splash {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .Top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;

    .PoweredWith {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      line-height: 30px;
      font-size: 10px;
    }

    .Logo {
      line-height: 50px;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }
  }

  .Middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;

    .Menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }
  }

  .Bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding: 1rem;

    .Menu {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
