.Cover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 2px 6px rgba(25, 25, 34, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 300ms ease-in-out, box-shadow 300ms ease-in-out;
  opacity: 0.7;

  &:hover,
  &.playing {
    box-shadow: 0 2px 6px rgba(25, 25, 34, 0.5);
    opacity: 1;
  }
}
