.Head {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;

  .RoomStatus {
  }

  .RoomName {
    font-weight: bold;
    text-transform: uppercase;
  }

  .RoomLink {
  }
}
