.Head {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	align-self: stretch;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem 0.5rem 1rem;

	.RoomLink {
	}

	.RoomName {
		font-size: 12px;
		font-weight: bold;
	}

	.RoomExit {
	}
}
