.Head {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	align-self: stretch;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: rgb(0, 0, 0); /* color will be overriden in Room.scss */
	transition: border-color 300ms ease-in-out;

	.RoomLink {
	}

	.RoomMeta {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		padding: 0 0.5rem;

		line-height: 14px;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		overflow: hidden;
		white-space: nowrap;

		.RoomName {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.RoomSize {
			opacity: 0.6;
		}
	}

	.RoomExit {
	}
}
