.Media {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	padding: 0.25rem 0;
	opacity: 0.7;
	transition: opacity 200ms ease-in-out;

	&:hover {
		opacity: 1;
	}

	.Metas {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		align-items: stretch;
		font-size: 14px;
		line-height: 18px;
		overflow: hidden;

		.Meta {
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&.AlbumTitle {
			}

			&.AlbumArtist {
			}

			&.PlaylistTitle {
			}

			&.PlaylistCreator {
			}

			&.TrackTitle {
			}

			&.TrackArtist {
			}
		}
	}

	.Actions {
		flex-shrink: 0;
	}

	& > * {
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}
}
