.Progress {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-self: stretch;
	padding: 0.75rem 0;

	progress {
		width: 100%;
		appearance: none;
		-webkit-appearance: none;
		height: 0.25rem;

		&::-webkit-progress-bar {
			border-radius: 1rem;
			transition: background-color 300ms ease-in-out;
			background-color: rgb(
				0,
				0,
				0
			); /* color will be overriden in Room.scss */
		}

		&::-webkit-progress-value {
			border-radius: 1rem;
			background-color: #0f0 !important;
		}
	}
}

body {
	&.dark {
		.Progress progress::-webkit-progress-bar {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&.light {
		.Progress progress::-webkit-progress-bar {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}
