.Queue {
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
  min-width: 500px;
  max-width: 600px;
  flex-grow: 1;

  @media screen and (max-width: 500px) {
    & {
      width: 100%;
      min-width: auto;
      max-width: auto;
    }
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .QueueItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
}
