.SearchResult {
  padding: 0 10px;

  .SearchResultLabel {
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
  }

  .SearchResultItems {
    .SearchResultItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      .Cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 50px;
        width: 50px;
        background-position: center center;
        background-size: cover;
        box-shadow: 0 1px 6px rgba(25, 25, 34, 0.2);
        border-radius: 4px;
        cursor: pointer;
        margin-left: 10px;
        transition: box-shadow 300ms ease-in-out;

        &:hover {
          box-shadow: 0 1px 6px rgba(25, 25, 34, 0.5);
        }
      }

      .Meta {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 18px;
        margin-left: 10px;
      }

      &.Album {
        .AlbumTitle {
        }
        .AlbumArtistName {
        }
      }

      &.Playlist {
        .PlaylistTitle {
        }
      }

      &.Track {
        .TrackTitle {
        }
        .TrackArtistName {
        }
      }
    }
  }
}
