.SearchModal {
  display: flex;
  flex-direction: column;

  .SearchResultItem {
    display: flex;
    flex-direction: row;
    align-items: center;

    .Cover {
      margin-left: 10px;
    }

    .Metas {
      margin-left: 10px;
    }
  }
}
