.SearchResult {
  padding: 0 10px;

  .SearchResultLabel {
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
  }

  .SearchResultItems {
    .SearchResultItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      .Cover {
        margin-left: 10px;
      }

      .Metas {
        margin-left: 10px;
      }
    }
  }
}
