body {
	background: #ffffff;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

div,
p,
img {
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

button,
input[type="password"],
input[type="text"],
textarea,
select {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

body {
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

	&.dark {
		color: rgb(0, 0, 0);
	}

	&.light {
		color: rgb(255, 255, 255);
	}
}
