.IconButton {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0;
  background-color: transparent;
  opacity: 0.3;
  transition: opacity 350ms ease-out;
  color: inherit;

  &.clickable {
    cursor: pointer;
  }

  &:not(.clickable) {
    opacity: 0.1;
  }

  &:hover.clickable,
  &.active {
    opacity: 1;
  }

  &:focus {
    background-color: #f00;
  }

  &.default {
    background-color: transparent;
  }

  &.primary {
    background-color: rgb(157, 183, 255);
  }

  &.danger {
    background-color: rgb(255, 168, 168);
  }
}
