.Icon {
	text-align: center;

	&.S {
		min-height: 16px;
		min-width: 16px;
		height: 16px;
		width: 16px;
		font-size: 16px;
		line-height: 16px;
	}

	&.M {
		min-height: 24px;
		min-width: 24px;
		height: 24px;
		width: 24px;
		font-size: 24px;
		line-height: 24px;
	}

	&.L {
		min-height: 32px;
		min-width: 32px;
		height: 32px;
		width: 32px;
		font-size: 32px;
		line-height: 32px;
	}

	&.rotating {
		animation: rotation 1.5s infinite linear;

		@keyframes rotation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}
	}
}
